.proposed-header{
    background-color: #34A853;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.proposed-header p{
    font-size: 20px;
    color: #fff;
}

.proposed-body{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: rgb(241, 241, 241);
}

.proposed-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    height: 75px;
}

.proposed-icon{
    background-color: #001609;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.proposed-item p{
    font-size: 15px;
    
}

.proposed-input-item{
    display: flex;
    gap: 5px;
    width: 200px;
    align-items: center;
}
.proposed-input-item input{
    padding: 10px;
    font-size: 17px;
}
label{
    margin-right: 5px;
}

.filter-type{
    padding: 20px;
    height: 150px;
}

input[type='submit']{
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.border-bottom{
    border-bottom: 3px solid #000;
}

.btn{
    display: flex;
    justify-content: flex-end;
}