.dash-top{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.image-side{
    border-top: 4px solid #F2143F;
    border-left: 4px solid #F2143F;
    border-bottom: 4px solid green;
    border-right: 4px solid green;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(221, 221, 221);
}

.dash-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.dash-text p:first-child{
    font-size: 20px;
    font-weight: bold;
}
.dash-text p:last-child{
    font-size: 15px;
}
.chart-side{
    margin-top: 50px;
}
.top-charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.top-chart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}
.top-chart-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top-chart-text p:first-child{
    font-size: 20px;
    font-weight: bold;
}
.top-chart-text p:last-child{
    font-size: 15px;
}

.icon-left,.icon-right{
    background-color: #fff;
    border-radius: 50%;
    padding: 7px;
}

.down-charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}

.down-left-chart, .down-right-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.down-left-chart{
    background-color: #001609;
}
.down-right-chart{
    background-color: #001609;
}